<div class="item" style="padding: 1rem; border-style: dashed;">
    <!--<div class="ui small image">-->
        <!--<img src="/images/wireframe/image.png">-->
    <!--</div>-->
    <div class="middle aligned content">
        <div class="header">
            {{data}}
        </div>
        <div class="description">
            <p></p>
        </div>
        <!--<div class="extra">-->
            <!--<div class="ui right floated button">-->
                <!--Action-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>