@font-face {
    font-family: _Sofia;
    src:url('Sofia.woff2') format('woff2');
}

@font-face {
    font-family: _Baloo;
    src:url('Baloo.woff2') format('woff2');
}

@font-face {
    font-family: _Sonsie;
    src:url('Baloo.woff2') format('woff2');
}