<div class="page-container" style="height: 100%">
    <md-app md-waterfall md-mode="fixed">
        <md-app-toolbar class="md-primary">
            <span class="md-title">PharmaChain </span><span class="md-body-1" style="margin-top: 2px; margin-left: 7px">┃ Patient</span>
        </md-app-toolbar>
        <!-- TODO for doctor -->
        <!-- <md-app-toolbar class="md-primary" v-if="doctor.is_signed_in">
            <span class="md-title">Logged in as: {{pharmacy.name}}</span><span class="md-body-1" style="margin-top: 2px; margin-left: 7px">┃
                Balance: {{pharmacy.money}}</span>
        </md-app-toolbar> -->

        <md-app-content>
            <!-- Login Area -->
            <div>
                <div style="margin: 150px" v-if="!patient.is_signed_in">
                    <md-card md-with-hover md-medium>
                        <md-ripple>
                            <md-card-header>
                                <div class="md-title">ID of the patient</div>
                            </md-card-header>

                            <md-card-content>
                                <md-field>
                                    <label>Patient ID</label>
                                    <md-input v-model="patient.id"></md-input>
                                </md-field>
                            </md-card-content>

                            <md-card-actions>
                                <md-button v-on:click="set_patient()">OK</md-button>
                            </md-card-actions>
                        </md-ripple>
                    </md-card>
                </div>
                <div v-if="patient.is_signed_in">
                    <div class="md-layout">
                        <!-- TODO Move to component -->
                        <!-- Patient Card -->
                        <div class="md-layout-item md-size-30" style="max-width: 200px">
                            <md-card>
                                <md-card-media style="text-align: center; padding-top: 40px">
                                    <img style=" width: 150px; border-radius: 150px;"
                                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsAUelg7yg0mepGMf-N93hh6E9XrLnKwsKa4YEQ6swhDknk4F9eQ"
                                         alt="People">
                                </md-card-media>

                                <md-card-header>
                                    <div class="md-title">{{patient.firstName}} {{patient.lastName}}</div>
                                    <div class="md-subhead">Birthday: {{patient.birthday}}</div>
                                </md-card-header>

                                <md-card-content>
                                    Balance: {{patient.money}}
                                </md-card-content>
                            </md-card>
                        </div>
                        <!-- Tabbed view -->
                        <div class="md-layout-item">
                            <!-- Tab Selection -->
                            <md-card>
                                <md-tabs @md-changed="changeTab">
                                    <template slot="md-tab" slot-scope="{ tab }">
                                        {{ tab.label }} <i class="badge" v-if="tab.data.badge">{{ tab.data.badge }}</i>
                                    </template>
                                    <md-tab id="tab-receipts" md-label="My Receipts"></md-tab>
                                    <md-tab id="tab-offers" md-label="Offers"></md-tab>
                                </md-tabs>
                            </md-card>
                            <!-- Tab Receipts -->
                            <div v-if="currentTab == 'tab-receipts'">
                                <p class="md-display-2" style="margin: 15px; display: inline-block">My Receipts</p>
                                <md-field style="float: right; margin-right: 15px; width: 150px">
                                    <md-select v-model="status" name="status" id="country" placeholder="Status">
                                        <md-option value="open">open</md-option>
                                        <md-option value="progress">progress</md-option>
                                        <md-option value="archive">archive</md-option>
                                    </md-select>
                                </md-field>

                                <template v-if="status=='open'" v-for="receipt in receipts_open">
                                    <md-card style="margin-bottom: 15px;" >
                                        <div>
                                            <md-card-content style="padding-bottom: 5px">
                                                <p class="md-title" >{{receipt.name}}</p>
                                                <p class="md-body-1">Dosage: {{receipt.dosage}}</p>
                                                <p class="md-body-1">Quantity: {{receipt.quantity}}</p>
                                                <p class="md-body-1">Presribed at: {{receipt.createdAt_moment}}</p>
                                                <md-button class="md-primary" @click="selectOption(receipt)">Look for Offers</md-button>
                                                <!-- TODO Remove or reuse, only active receipts are shown anyway -->
                                                <!-- <md-badge v-if="true" class="md-square" md-content="Active"
                                                          style="background: green; top: 15px; right: 15px"></md-badge> -->
                                            </md-card-content>
                                        </div>
                                    </md-card>
                                </template>

                                <template v-if="status=='progress'" v-for="receipt in receipts_progress">
                                        <md-card style="margin-bottom: 15px;">
                                            <div>
                                                <md-card-content style="padding-bottom: 5px">
                                                    <p class="md-title">{{receipt.name}}</p>
                                                    <p class="md-body-1">Dosage: {{receipt.dosage}}</p>
                                                    <p class="md-body-1">Quantity: {{receipt.quantity}}</p>
                                                    <p class="md-body-1">Presribed at: {{receipt.createdAt_moment}}</p>
                                                    <!-- Load PositionSelection Transaction and get Date to show here! -->
                                                </md-card-content>
                                            </div>
                                        </md-card>
                                    </template>

                                <template v-if="status=='archive'" v-for="receipt in receipts_archive">
                                    <md-card style="margin-bottom: 15px;">
                                        <div>
                                            <md-card-content style="padding-bottom: 5px">
                                                <p class="md-title">{{receipt.name}}</p>
                                                <p class="md-body-1">Dosage: {{receipt.dosage}}</p>
                                                <p class="md-body-1">Quantity: {{receipt.quantity}}</p>
                                                <p class="md-body-1">Presribed at: {{receipt.createdAt_moment}}</p>
                                                <!-- TODO Remove or reuse, only active receipts are shown anyway -->
                                                <!-- <md-badge v-if="true" class="md-square" md-content="Archive"
                                                          style="background: red; top: 15px; right: 15px"></md-badge> -->
                                            </md-card-content>
                                        </div>
                                    </md-card>
                                </template>


                            </div>
                            <!-- Offer View -->
                            <div v-if="currentTab == 'tab-offers'">
                                <p class="md-display-2" style="margin: 15px; display: inline-block">Offers</p>
                                <md-card style="margin-bottom: 15px;" v-for="offer in open_offers">
                                    <div>
                                        <md-card-content style="padding-bottom: 5px">
                                            <p class="md-title">{{offer.name}}</p>
                                            <p class="md-body-1">Delivery: {{offer.deliveryDetails}}</p>
                                            <p class="md-body-1">Pharmacy: {{offer.pharmacy}}</p>
                                            <p class="md-body-1">Price for Patient: {{offer.patientCost}} Euro</p>
                                            <!-- TODO remove -->
                                            <!-- <md-badge v-if="true" class="md-square" :md-content="offer.dist"
                                                      style="background: green; top: 15px; right: 15px"></md-badge> -->
                                        </md-card-content>
                                        <md-button v-on:click="post_OfferAccepted(offer)"
                                                   style="background-color: green;">
                                            Accept
                                        </md-button>
                                    </div>
                                </md-card>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal dialog to fill in patient adress -> uses default adress if given -->
            <md-dialog :md-active.sync="showDialog" v-if="patient.is_signed_in">
                <md-dialog-title>Address of delivery:</md-dialog-title>

                <md-dialog-content>
                    
                    <p class="md-sub-title" v-if="patient.def_street === null">No default adress available. Please enter your adress!</p>
                    <p class="md-sub-title" v-if="patient.def_street !== null">Your default adress is used. You can change it, though!</p>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-40">
                            <md-field>
                                <label>Post code</label>
                                <md-input v-model="post_code"></md-input>
                            </md-field>
                        </div>
                        <div class="md-layout-item md-small-size-60">
                            <md-field>
                                <label>City</label>
                                <md-input v-model="city"></md-input>
                            </md-field>
                        </div>
                    </div>
                    <md-field>
                        <label>Street, House number</label>
                        <md-input v-model="street"></md-input>
                    </md-field>
                </md-dialog-content>

                <md-dialog-actions>
                    <md-button class="md-default" @click="showDialog = false">Close</md-button>
                    <md-button class="md-primary" @click="saveOption()">Save</md-button>
                </md-dialog-actions>
            </md-dialog>

            <!-- Modal dialog to accept an pharmacy offer -->
            <md-dialog :md-active.sync="showDialogOffer">
                <md-dialog-title>Confirm order from pharmacy:</md-dialog-title>

                <md-dialog-content>
                    <p>
                        <span class="md-body-2">Name: </span>
                        <span class="md-body-1">Apotheke am Hauptbahnhof </span>
                    </p>
                    <p>
                        <span class="md-body-2">Address: </span>
                        <span class="md-body-1">12345 Leipzig, Haupstrasse 1 </span>
                    </p>
                </md-dialog-content>

                <md-dialog-actions>
                    <md-button class="md-default" @click="showDialogOffer = false">Cancel</md-button>
                    <md-button class="md-primary" @click="acceptOrder()">Confirm</md-button>
                </md-dialog-actions>
            </md-dialog>
        </md-app-content>
    </md-app>

    <!-- Does this do what it is supposed to do? -->
    <template v-if="patient.is_signed_in">
        <md-button class="md-fab md-primary" style="position: absolute; bottom: 15px; right: 15px;"
                   v-on:click="get_patient_receipts()">
            <md-icon>cached</md-icon>
        </md-button>
        <md-button v-if="patient" class="md-fab md-raised" style="position: absolute; bottom: 15px; right: 85px;"
                   v-on:click="clear_patient()">
            <md-icon>clear</md-icon>
        </md-button>
    </template>
</div>
