<md-card style="margin-bottom: 15px;" v-on:click="click">
    <div @click="onClickCard()">
        <md-card-content style="padding-bottom: 5px">
            <p class="md-title">{{data.name}}</p>
            <p class="md-body-1">Delivery: {{data.date}}</p>
            <p class="md-body-1">Pharmacy: Apotheke</p>
            <p class="md-body-1">Price: 10 Euro</p>
            <md-badge v-if="!data.active" class="md-square" :md-content="data.dist"
                      style="background: green; top: 15px; right: 15px"></md-badge>
        </md-card-content>
    </div>
</md-card>