<div class="page-container" style="height: 100%">
    <md-app md-waterfall md-mode="fixed">
        <md-app-toolbar class="md-primary">
            <span class="md-title">PharmaChain </span><span class="md-body-1" style="margin-top: 2px; margin-left: 7px">┃ Pharmacy</span>
        </md-app-toolbar>
        <md-app-toolbar class="md-primary" v-if="pharmacy.is_signed_in">
            <span class="md-title">{{pharmacy.name}}</span><span class="md-body-1"
                                                                 style="margin-top: 2px; margin-left: 7px">┃ Balance: {{pharmacy.money}}</span>
        </md-app-toolbar>

        <md-app-content>
            <div style="margin: 150px" v-if="!pharmacy.is_signed_in">
                <md-card md-with-hover md-medium>
                    <md-ripple>
                        <md-card-header>
                            <div class="md-title">ID of the Pharmacy</div>
                        </md-card-header>

                        <md-card-content>
                            <md-field>
                                <label>Pharmacy ID</label>
                                <md-input v-model="pharmacy.id"></md-input>
                            </md-field>
                        </md-card-content>

                        <md-card-actions>
                            <md-button v-on:click="set_pharmacy()">OK</md-button>
                        </md-card-actions>
                    </md-ripple>
                </md-card>
            </div>
            <template v-if="pharmacy.is_signed_in">
                <md-card>
                    <md-tabs @md-changed="changeTab">
                        <template slot="md-tab" slot-scope="{ tab }">
                            {{ tab.label }} <i class="badge" v-if="tab.data.badge">{{ tab.data.badge }}</i>
                        </template>
                        <md-tab id="tab-receipts" md-label="Open receipts"></md-tab>
                        <md-tab id="tab-deliveries" md-label="Offers"></md-tab>
                        <md-tab id="tab-billing" md-label="Billing"></md-tab>
                        <md-tab id="tab-statistics" md-label="Statistics"></md-tab>
                    </md-tabs>
                </md-card>
                <div v-if="currentTab == 'tab-receipts'">
                    <p class="md-display-2" style="margin: 15px; display: inline-block">Open receipts</p>
                    <md-field style="float: right; margin-right: 15px; width: 150px">
                        <md-select v-model="status" name="status" id="country" placeholder="Status">
                            <md-option value="active">Active</md-option>
                            <md-option value="in_delivery">In Delivery</md-option>
                            <md-option value="archive">Archive</md-option>
                        </md-select>
                    </md-field>
                    <md-card style="margin-bottom: 15px;" v-for="receipt in open_receipts" :key="receipt.id">
                        <div @click="selectOrder(receipt)">
                            <md-card-content style="padding-bottom: 15px">
                                <p class="md-title">{{receipt.description}}</p>
                                <md-badge class="md-square" :md-content="receipt.dist"
                                          style="background: green; top: 15px; right: 15px"></md-badge>
                            </md-card-content>
                        </div>
                    </md-card>
                </div>
                <div v-if="currentTab == 'tab-deliveries'">
                    <p class="md-display-2" style="margin: 15px; display: inline-block">Offers</p>
                    <md-card style="margin-bottom: 15px;" v-for="offer in offers" :key="offer.id">
                        <div>
                            <md-card-content style="padding-bottom: 15px">
                                <p class="md-title">{{offer.description}}</p>
                                <p>
                                    <span class="md-body-2">Producer/Version: </span>
                                    <span class="md-body-1">{{offer.details}}</span>
                                </p>
                                <p>
                                    <span class="md-body-2">Address: </span>
                                    <span class="md-body-1">{{offer.address}}</span>
                                </p>
                                <md-badge class="md-square" :md-content="offer.delivery"
                                          style="background: green; top: 15px; right: 15px"></md-badge>
                                <md-button v-on:click="delete_offer(offer)" style="background: red">Delete</md-button>
                            </md-card-content>
                        </div>
                    </md-card>
                </div>
                <div v-if="currentTab == 'tab-billing'">
                    <p class="md-display-2" style="margin: 15px; display: inline-block">Billing</p>
                    <md-card style="margin-bottom: 15px;" v-for="billing in billings" :key="billing.name">
                        <div>
                            <md-card-content style="padding-bottom: 15px">
                                <p class="md-title">{{billing.name}}</p>
                                <p>
                                    <span class="md-body-2">Producer/Version: </span>
                                    <span class="md-body-1">{{billing.details}}</span>
                                </p>
                                <p>
                                    <span class="md-body-2">Price: </span>
                                    <span class="md-body-1">{{billing.price}}</span>
                                </p>
                                <md-badge class="md-square" md-content="Transferred"
                                          style="background: green; top: 15px; right: 15px"></md-badge>
                            </md-card-content>
                        </div>
                    </md-card>
                </div>
                <div v-if="currentTab == 'tab-statistics'">
                    <p class="md-display-2" style="margin: 15px; display: inline-block">Statistics</p>
                    <div>
                        <linechart
                                :width="500"
                                :height="300"
                                :labels="['Jan', 'Feb', 'Mar', 'Apr', 'May']"
                                :datasets="displayedDatasets"
                                :options="options"
                        ></linechart>
                    </div>
                </div>
                <md-dialog :md-active.sync="showDialogOrder">
                    <md-dialog-title>New Offer:</md-dialog-title>

                    <md-dialog-content>
                        <md-field>
                            <label>Medication</label>
                            <md-select v-model="new_offer.manufacturer">
                                <md-option v-for="manufacturer in offer_manufacturers" :value="manufacturer">
                                    {{ manufacturer }}
                                </md-option>
                            </md-select>
                        </md-field>
                        <md-field>
                            <label>Delivery</label>
                            <md-input v-model="new_offer.delivery"></md-input>
                        </md-field>
                        <md-field>
                            <label>insuranceCost</label>
                            <md-input v-model="new_offer.insuranceCost"></md-input>
                        </md-field>
                        <md-field>
                            <label>patientCost</label>
                            <md-input v-model="new_offer.patientCost"></md-input>
                        </md-field>
                    </md-dialog-content>

                    <md-dialog-actions>
                        <md-button class="md-default" @click="showDialogOrder = false">Cancel</md-button>
                        <md-button class="md-primary" @click="post_offer()">Confirm</md-button>
                    </md-dialog-actions>
                </md-dialog>
            </template>
        </md-app-content>
    </md-app>
    <md-button class="md-fab md-primary" style="position: absolute; bottom: 15px; right: 15px;"
               v-on:click="get_offers()">
        <md-icon>cached</md-icon>
    </md-button>
</div>

